*{
	    font-family: 'PT Sans', sans-serif;

}

form.form-search input{
	border: 1px solid #a8b7c3;
	height: 40px;
	font-size: 16px;
	border-radius: 0;
	padding: 0;
	margin-bottom: 0;
	float: left;
	margin-right: 5px;

}

form.form-search input#region	{
		padding-left: 10px;

}

form.form-search input#persons	{
	width: 40px;
	text-align: center;
}

form.form-search input#nights	{
	width: 40px;
	text-align: center;
}

form.form-search input.date	{
	width: 140px;
	text-align: center;
}


form.form-search input#submit	{
	width: 115px;
	color: white;
	background-color: #1185c1;
	border: 0;
	text-align: center;
	
}

form.form-search input#submit:hover	{
	background-color: #75a7c1;
	cursor: pointer;
}

form.form-search input:focus	{
	-moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
	border-color:  #1185c1;


}


select.sortowanie	{
	border: 1px solid #a8b7c3;
	height: 40px;
	font-size: 16px;
	background-color: white;
	width: 280px;
	height: 40px;
}

form.apartament	{
	margin: 0 auto;
}

div.form-apartament	{

}

form.apartament input#przyjazd	{
	width: 100px;
	text-align: center;


}

form.apartament input#powrot	{
	width: 130px;
	text-align: center;

}

form.apartament input#ileosob	{
	width: 240px;
	text-align: center;
	margin-top: 10px;

}


form.apartament input{
	border: 3px solid #a8b7c3;
	height: 30px;
	font-size: 16px;
}

form.apartament input:focus	{
	-moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
	border-color:  #75a7c1;
}

form.logowanie input#login{
	border: 1px solid #a8b7c3;
	width: 290px;
	height: 40px;
	font-size: 18px;
	margin-top: 20px;
	padding-left: 10px;
}

form.logowanie input#name{
	border: 1px solid #a8b7c3;
	width: 290px;
	height: 40px;
	font-size: 18px;
	margin-top: 20px;
	padding-left: 10px;
}

form.logowanie input#password{
	border: 1px solid #a8b7c3;
	width: 290px;
	height: 40px;
	font-size: 18px;
	padding-left: 10px;
	margin-top: 20px;

}

form.logowanie input#repeat-password{
	border: 1px solid #a8b7c3;
	width: 290px;
	height: 40px;
	font-size: 18px;
	padding-left: 10px;
	margin-top: 20px;

}


form.logowanie input#submit{
	margin-top: 20px;
	width: 300px;
	height: 40px;
	color: white;
	background-color: #1185c1;
	border: 0;
	text-align: center;
}


form.logowanie input#login:focus	{
	-moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
	border-color:  #1185c1;
}


form.logowanie input#password:focus	{
	-moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
	border-color:  #1185c1;
}

form.logowanie input#submit:hover	{
	background-color: #75a7c1;
	cursor: pointer;
}

form.newsletter{
	margin-top: 20px;
}

form.newsletter input#mail{
	width: 200px;
	border: 0;
	font-size: 16px;
	background-color: #bed6e9;
	height: 35px;
	float: left;
}



form.newsletter input#submitnews{
	width: 100px;
	border: 0;
	font-size: 16px;
	background-color: #1185c1;
	height: 35px;
	padding: 0;
	float: left;
	color: white;
}

form.newsletter input#submitnews:hover{
	background-color: #75a7c1;
	cursor: pointer;
}