@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif; }

.results-search {
  background-color: grey;
  border-radius: 20px; }

.form-control {
  border-radius: 0; }

button:hover {
  cursor: pointer; }

.main-text {
  color: #FFF; }

.icon {
  width: 20px !important; }

.easy-autocomplete-container {
  z-index: 200 !important; }

.input-group-addon {
  min-width: 40px;
  text-align: left; }

.back {
  height: auto;
  background: no-repeat center;
  background-image: none;
  background-size: auto auto;
  background-size: cover; }

.transparent {
  background-color: rgba(255, 255, 255, 0.68); }
  .transparent:hover {
    background-color: rgba(255, 255, 255, 0.9); }

#topSearch {
  background: no-repeat center;
  background-size: cover;
  padding-bottom: 20px; }
  #topSearch .search {
    padding-top: 20px; }
  #topSearch h4 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; }
  #topSearch .col {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding-bottom: 20px; }
  #topSearch .wyszukiwarka {
    padding-top: 20px; }
    #topSearch .wyszukiwarka button {
      width: 100%; }

#benifits p {
  font-size: 14px; }
#benifits h4 {
  padding: 0;
  margin: 0; }
#benifits .row {
  padding-top: 20px; }

#apartamentsforyou {
  padding-top: 25px; }
  #apartamentsforyou a {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    text-decoration: none;
    position: relative; }
  #apartamentsforyou .semi-transparent {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    bottom: 0;
    margin-bottom: 15px;
    color: white; }
    #apartamentsforyou .semi-transparent h1 {
      font-size: 18px;
      font-weight: bold; }
    #apartamentsforyou .semi-transparent p.price {
      font-size: 16px; }
  #apartamentsforyou .apartament {
    height: 180px;
    width: 100%;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
    resize: both;
    background-size: auto 100%; }
  
  .map-description-bottom{
      font-size: 10px;
      position: absolute;
      left: 0;
      bottom: 10px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 5px 20px 5px 5px; 
  }  

  .map-description > span, .map-description > div{
      margin-top: 7px;
  }
  
.description-bottom-right{
        font-size: 10px;
        position: absolute;
        right: 5px;
        bottom: 2px; 
  }
  
  .description-map-bottom-right{
        font-size: 10px;
        position: absolute;
        right: 23px;
        bottom: 2px;       
  }

  .description-map-bottom-right.desktop-none{
        font-size: 10px;
        position: absolute;
        right: 23px;
        bottom: 17px;       
  }
  
  .description-below{
        padding: 5px;
        margin-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
  } 
  
  .description-below-img{
        position: relative;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center top;
        display: inline-block;
        width: 26px;
        height: 26px;
        border: solid 1px;
        margin-right: 5px;
  }

    .description-below-notes{
        position: relative;
        top: -10px;
        display: inline-block;
        height: 26px;
        margin-left: 7px;
  }
  
  .description-below-img.desktop-none.note span{
       color: white;
       font-size: 10px;
       font-weight: bold;
       position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .description-below-img span{
       font-size: 8px;
       font-weight: bold;
       position: absolute;
       bottom: 0;
       left: 10px
  }
 
.add-to-favourities{
        position: absolute;
        right: 5px;
        top: 5px; 
  }  
  
  .map-description-top{
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 8px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 5px 20px 5px 5px; 
  }  

  .map-see-more{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .map-img-wrapper:hover .map-see-more {
    display: inline;
  }

  .map-img-wrapper{
    position: relative;
    text-align: center;
  }

.map-button{

    width: 280px;
}

.mapLegend{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 10px 10px 10px;
}

.map-legend-button{
    margin-left: 40px;
}

.map-legend-toggle:hover{
    cursor: pointer;
}

ul.pagination > li > a, ul.pagination > li > span {
    margin: 0 5px 0 0 !important;
    border: 1px solid black; 
}

ul.pagination {
    display: inline-block;
    margin-top: 25px;
}

ul.pagination li {display: inline;}

ul.pagination li a,  ul.pagination li span{
    
    padding: 8px !important;
    text-decoration: none;
}

ul.pagination li.active span {
    background-color: white;
    color: black;
}

ul.pagination li a {
    background-color: #f7f3ef;
    color: #1b8ce8 !important;
}

img.active{
    border: solid 2px;
}

.text-mobile-search{
    font-size: 12px;
}


.mapLegend{
    position: relative;
}
    
.map-legend-toggle{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(-5%, -50%);
}

.btn.btn-mobile{
    background-color: #b2b2b2;
    padding-right: 18px !important;   
    padding-left: 18px !important;
    font-size: 12px;
    border: 0.5px solid #565656;
}

.btn-selected{
    color: #ffffff !important;
    background-color: #565656 !important;
    border: 0.5px solid #565656;
}

select {
    height:20px;
    font-size: 12px;
}

@media (min-width: 768px) {
    .desktop-hidden{
        visibility: hidden !important;
    }

    .desktop-none{
        display: none !important;
    }
    
  .apartament-info {
    height: 380px; }

  #topSearch {
    height: 400px;
    position: absolute;
    top: 50px;
    width: 100%;
    background-image: none !important; }
    #topSearch .container {
      padding-top: 150px; } 
}
    
@media (max-width: 767px){
    #mapka{
        height: 380px !important;
    }
    
    .mobile-hidden{
        visibility: hidden !important;
    }
    
    .mobile-none{
        display: none !important;
    }
    
    .map-description-bottom{
        left: 2px;
    }
    
    .map-description-top{
        left: 2px;
    }

}

@media (max-width: 430px){
    .map-legend-button:nth-child(3){
        margin-left: 16px;
    } 
    

}
/*# sourceMappingURL=homerent.css.map */
