@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif; }

.results-search {
  background-color: grey;
  border-radius: 20px; }

.form-control {
  border-radius: 0; }

button:hover {
  cursor: pointer; }

.main-text {
  color: #FFF; }

.icon {
  width: 20px !important; }

.easy-autocomplete-container {
  z-index: 200 !important; }

.input-group-addon {
  min-width: 40px;
  text-align: left; }

.back {
  height: auto;
  background: no-repeat center;
  background-image: none;
  background-size: auto auto;
  background-size: cover; }

.transparent {
  background-color: rgba(255, 255, 255, 0.68); }
  .transparent:hover {
    background-color: rgba(255, 255, 255, 0.9); }

#topSearch {
  background: no-repeat center;
  background-size: cover;
  padding-bottom: 20px; }
  #topSearch .search {
    padding-top: 20px; }
  #topSearch h4 {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; }
  #topSearch .col {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    padding-bottom: 20px; }
  #topSearch .wyszukiwarka {
    padding-top: 20px; }
    #topSearch .wyszukiwarka button {
      width: 100%; }

#benifits p {
  font-size: 14px; }
#benifits h4 {
  padding: 0;
  margin: 0; }
#benifits .row {
  padding-top: 20px; }

#apartamentsforyou {
  padding-top: 25px; }
  #apartamentsforyou a {
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    color: black;
    text-decoration: none;
    position: relative; }
  #apartamentsforyou .semi-transparent {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 14px;
    bottom: 0;
    margin-bottom: 15px;
    color: white; }
    #apartamentsforyou .semi-transparent h1 {
      font-size: 18px;
      font-weight: bold; }
    #apartamentsforyou .semi-transparent p.price {
      font-size: 16px; }
  #apartamentsforyou .apartament {
    height: 180px;
    width: 100%;
    margin-bottom: 5px;
    background-repeat: no-repeat;
    background-position: center;
    resize: both;
    background-size: auto 100%; }
  
  .map-description-bottom{
      font-size: 10px;
      position: absolute;
      left: 0;
      bottom: 8px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 5px 20px 5px 5px; 
  }  
  
  .map-description-top{
      font-size: 16px;
      font-weight: bold;
      position: absolute;
      left: 0;
      top: 8px;
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 5px 20px 5px 5px; 
  }  

  .map-see-more{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .map-img-wrapper:hover > .map-see-more {
    display: inline;
  }

  .map-img-wrapper{
    position: relative;
    text-align: center;
  }

.map-button{

    width: 280px;
}

.mapLegend{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px 10px 10px 10px;
}

.map-legend-button{
    margin-left: 40px;
}

.map-legend-toggle:hover{
    cursor: pointer;
}

@media (min-width: 768px) {
  .apartament-info {
    height: 380px; }

  #topSearch {
    height: 400px;
    position: absolute;
    top: 50px;
    width: 100%;
    background-image: none !important; }
    #topSearch .container {
      padding-top: 150px; } }

/*# sourceMappingURL=homerent.css.map */
