<body style="font-size: 12px">
<img src="">
<hr>
<br>
Witaj,<br>
Dziekujemy za rezerwacje.<br>
<hr>
<div style="padding: 20px">
    <table style="margin-left: auto; margin-right: auto;">
        <tr>
            <td>Przyjazd</td><td>sob, 26 kwietnia 2014 (po 15:00)</td>
        </tr>
        <tr>
            <td>Wyjazd</td><td>nie, 27 kwietnia 2014 (przed 12:00)</td>
        </tr>
    </table>
    Kontakt
</div>
<hr>

<table style="margin-left: auto; margin-right: auto;">
    <tr><td>Kontakt: 22/565 66 66 (pn-pt 9:00-17:00), <span style="color: #8fdf82">kontakt@visitzakopane.pl</span></td></tr>
</table>
<hr>
<p>Ta wiadomość została wysłana przez Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
</body>