<html>
<head>
    <meta charset="UTF-8">
</head>
<body style="font-size: 12px; font-family: 'Open Sans', sans-serif;">

</span>
    <div>
        <table>
            <tr><td colspan="3"><img src="../../../public/images/reservations/logoHoment.png"></td></tr>
            <tr><td colspan="3"><hr style="border: 0 none;  border-top: 2px dashed black;  background: none;"></td></tr>
            <tr><td><br></td></tr>
            <tr><td style="font-size: 16px;">Witaj,</td></tr>
            <tr><td><br></td></tr>
            <tr><td colspan="3" style="font-size: 16px;">Dziekujemy za rezerwacje.</td></tr>
            <tr><td><br></td></tr>
            <tr><td colspan="2"></td></tr>
            <tr>
                <td><img src="../../../public/images/apartaments/1/mail.jpg"></td>
                <td colspan="2">
                    <span style="color: #007bff; font-size: 20px;"><b>Apartament WIOSENNY</b></span><br>
                    <span style="font-size: 15px">Kraków, Stare Miasto</span><br>
                    <span style="font-size: 15px">ul. Krasińskiego 14/23</span><br>
                </td>
            </tr>
            <tr><td colspan="2"><span style="font-size: 12px">GPS: N 48° 12' 39.90'' E 16° 23' 1.82''</span></td></tr>
            <tr><td colspan="3"><hr></td></tr>
            <tr style="font-size: 15px">
                <td></td><td>Przyjazd:</td><td><b>sob, 26 kwietnia 2014 </b>(po 15:00)</td>
            </tr>
            <tr style="font-size: 15px">
                <td></td><td>Wyjazd:</td><td><b>nie, 27 kwietnia 2014 </b>(przed 12:00)</td>
            </tr>
            <tr style="font-size: 14px">
                <td></td><td>Noce:</td><td>2</td>
            </tr>
            <tr style="font-size: 14px">
                <td></td><td>Osoby:</td><td>3 osoby dorosłe, 0 dzieci</td>
            </tr>
            <tr><td><br></td></tr>
            <tr style="font-size: 15px">
                <td></td><td><b>Do zapłaty: </b></td><td><b>300,00 PLN*</b></td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td></td><td></td>
            </tr>
            <tr style="font-size: 14px">
                <td></td><td>Koszt pobytu:</td><td>2</td>
            </tr>
            <tr style="font-size: 14px">
                <td></td><td>Zaliczka:</td><td>3 osoby dorosłe, 0 dzieci</td>
            </tr>
            <tr><td><br></td></tr>
            <tr>
                <td></td>
                <td colspan="2" style="font-size: 11px">
                    * Właściciel może pobrać na miejscu dodatkowe opłaty -<br>
                    np: opłatę klimatyczną, parking itd  (sprawdź opis oferty).
                </td>
            </tr>
            <tr><td><br><br><br><br></td></tr>
            <tr>
                <td style="font-size: 12px;">Kontakt:<br>Justyna Mroczek</td>
                <td>
                    <img src="../../../public/images/reservations/phoneInMail1.png">
                </td>
                <td>
                    <img src="../../../public/images/reservations/phoneInMail2.png">
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <img src="../../../public/images/reservations/envelopeInMail.png">
                </td>
            </tr>
            <tr><td><br><br><br><br></td></tr>
            <tr><td colspan="3"><hr style="border: 0 none;  border-top: 2px dashed black;  background: none;"></td></tr>
                <tr><td></td><td colspan="2" style="font-size: 11px">Kontakt: 22/565 66 66 (pn-pt 9:00-17:00), <span style="color: #8fdf82">kontakt@visitzakopane.pl</span></td></tr>
            <tr><td colspan="3"><hr style="border: 0 none;  border-top: 2px dashed black;  background: none;"></td></tr>
            <tr><td colspan="3"><span style="font-size: 11px; color: gray">Ta wiadomość została wysłana przez Homerent.</span></td></tr>
        </table>

</div>
</div>
</body>
</html>